<!DOCTYPE html>
<html lang="en-US">

<head>
<title>Fuel Calculator</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app ng-init="fuel=30;distance=400">
  <b>Fuel Consumption Calculator</b>
  <div>
    Fuel Amount (litres): <input type="number" min="0" ng-model="fuel">
  </div>
  <div>
    Drive Distance (km): <input type="number" min="0" ng-model="distance">
  </div>
  <div>
    <b>Fuel Economy (km/L):</b> {{distance / fuel |number:2 }} km/L
  </div>
</div>

</body>
</html>