<!DOCTYPE html>
<html lang="en-US">

<head>
<title>Fuel Calculator</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="fuel-calculator.js"></script>
</head>

<body>

<div ng-app="calculator" ng-controller="FuelCalculatorController as calculator">
  <b>Fuel Consumption Calculator</b>
  <div>
    Fuel Amount (litres): <input type="number" min="0" ng-model="calculator.fuel" required>
  </div>
  <div>
    Drive Distance (km): <input type="number" min="0" ng-model="calculator.distance" required>
  </div> 
  <div>
    Fuel Type: 
    <select ng-model="calculator.inFuel">
      <option ng-repeat="c in calculator.fuelTypes">{{c}}</option>
    </select>
  </div>
  <div>
    <b>Fuel Economy (km/L):</b>
	<p>
    You have achieved {{calculator.showInfor().mileage |number:2}} Km/L.
	<p>
	It cost {{calculator.showInfor().cost |number:2}} Rupess for one Km
	</p>
    <button class="btn" ng-click="calculator.pay()">Pay</button>
  </div>
</div>

</body>
</html>