<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Google Chart</title>

</head>
<body ng-app="google-chart-example" ng-controller="ChartCtrl">
<h1>Google Chart in AngularJS</h1>


<div>
<div google-chart chart="chart" style="{{chart.cssStyle}}"/>
</div>

<script src="..\node_modules\angular\angular.js"></script>
<script src="..\node_modules\angular-google-chart\ng-google-chart.js"></script>
<script src="data1.js"></script>
<script src="chart.js"></script>
<button ng-click="switch('ColumnChart')">ColumnChart</button>
<button ng-click="switch('BarChart')">BarChart</button>
<button ng-click="switch('AreaChart')">AreaChart</button>
<button ng-click="switch('PieChart')">PieChart</button>
<button ng-click="switch('LineChart')">LineChart</button>
<button ng-click="switch('CandlestickChart')">CandlestickChart</button>
<button ng-click="switch('Table')">Table</button>
<br>
<button ng-click="switch('DonutChart')">DonutChart</button>
<button ng-click="switch('3DPieChart')">3DPieChart</button>
<button ng-click="switch('ScatterChart')">ScatterChart</button>
<br>Sample Data 
<button ng-click="switchData(1)">sales</button>
<button ng-click="switchData(2)">Pizza</button>
<button ng-click="switchData(3)">Age</button>
</body>
</html>